@charset 'utf-8';

* {
    box-sizing: border-box;
}

#restaurant-container,
#reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restaurant-container h1 {
    height: calc(80px + 10px + 25px + 16px);
    margin: 0;
    padding: 0;
}

#breadcrumb {
    width: 50%;
}